@mixin grid {
    display: grid;
    grid-template-columns: 60% 30%;
    justify-content: space-evenly;
    justify-items: center;
}

.container {
    padding: 20px;

    @media screen and (min-width: 860px) {
        margin: 50px 30px;
    }

    @media screen and (min-width: 960px) {
        &__list-wrapper {
            margin-left: 30px;
        }
    }

    @media screen and (min-width: 1300px) {
        margin: 0 20px;
        padding-top: 0;
        @include grid;

        &__list-wrapper {
            width: 700px; 
            margin: 0;
        }
    }

    @media screen and (min-width: 1600px) {
        justify-content: center;

        &__list-wrapper {
            width: 800px; 
        }

    }
}