.navigation {
    
    &__list {
        display: none;
        position: fixed;
        top: 50px;
        background-color: $c-blue-secondary;
        width: 100%;
        opacity: 0.95;

        &--show {
            display: block;
        }
    }

    &__item {
        border-bottom: 1px solid $c-whitesmoke;
        padding-left: 20px;
        height: 60px;
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        color: $c-whitesmoke;
    }

    &__button {
        background-color: transparent;
        font-family: 'Lato';
        color: $c-whitesmoke;
        border: none;
        font-size: 1em;
        width: 100%;
        padding: 10px 0;
        text-align: left;
    }

    &__select {
        background-color: transparent;
        font-family: 'Lato';
        color: $c-white;
        border: none;
        font-size: 1em;
        margin-left: 10px;
        padding: 10px;
    }
}

.sorted-desc::after {
    content: " \2193";
    color:white;
}

.sorted-asc::after {
    content: " \2191";
    color: white;
}