* {
    box-sizing: border-box;
} 

body {
    line-height: 1.5;
    font-family: 'Lato', sans-serif;
    background-color: $c-blue-main;
}

button, input[type=submit] {
    cursor: pointer;
}

button:disabled {
    cursor: auto;
}

.hidden {
    display: none;
}